body {
  /*background-image:url(../assets/img/telar.jpg);*/
/*background-image:url(../assets/img/mach.jpg);*/
width: 100%
height:900%
max-width: 100%;
font-family: cursive;
  list-style: none;
}
header {
  position: fixed;
  height: 15%;
  width: 100%;
  background-color:lightblue;
  list-style: none;

  opacity: 0.78%;
  top: 0;
  z-index: 10;
}
header li{
  list-style: none;
  padding-left: 60px;
  margin-left: 8%;
  display: inline-block;
  color: blue;
  font-size: 1.5em;
  text-decoration: none;
}
header ul li-2 a{
  position: absolute;
  display: inline-block;
  margin-bottom:  18px;
  margin-left: 620px;
  color: blue;
  outline: 1px solid white;
  font-size: 1.6em;
  text-decoration: none;
  list-style: none;
}
a{
  text-decoration: none;
  list-style :none;
}
section{
  padding-top: 280px;
  width: 100%;
  height: 600px;
  max-width: 100%;
  text-align: lef;
  margin-top: 6.5%;
    background-image:url(../assets/img/imag.jpg);
    opacity: 0.80;
    color: blue;
    font-size: 1.6em;
    font-weight: 400;
  position: relative;
  background-size:100% 100%;
  background-repeat: no-repeat;
}
section-2 {
  display: inline-block;
  position: absolute;
width: 30%;
  top: 21%;
  margin-left: 10%;
  background-color: white;
  outline ; 1px solid red;
  color: blue;
  font-size: 1.6em;
  padding-left: 2%;
}
.imput form {
position: absolute;
left:  650px;
top: 17px;

}

button{
  position: absolute;
  width: 70px;
  height: 40px;
  margin: auto;
  background: lightblue;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 25%;
  color:blue;
  top: 30%;
margin-left: 15px;

}
button:disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

.count{
  position: absolute;
  top: 40%;
left: 70%;

}
 .footer{
   position: absolute;
   padding-top: 9px;
border-top: blue;
   top: 93%;
   /*margin-top: 0;*/
  background: white;
  border-top: 1px solid blue;
  width: 100%;
  height: 50px;
  outline: 1px solid black;
}
textarea{
  font-size: 0.8em;
  overflow: hidden;
}
textarea:focus {
	border-color: #336699;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
	color: #fafafa;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.seagreen {
  color: seagreen;
}

.greenyellow {
  color: greenyellow;
}

.orangered {
  color: orangered;
}

.red {
  color: red;
}
