body {
  /*background-image:url(../assets/img/telar.jpg);*/
/*background-image:url(../assets/img/mach.jpg);*/
width: 100%
height:900%
max-width: 100%;
font-family: cursive;
  list-style: none;
}
header {
  position: fixed;
  height: 15%;
  width: 100%;
  background-color:lightblue;
  list-style: none;

  opacity: 0.78%;
  top: 0;
  z-index: 10;
}
header li{
  list-style: none;
  padding-left: 60px;
  margin-left: 8%;
  display: inline-block;
  color: blue;
  font-size: 1.5em;
  text-decoration: none;
}
header ul li-2 a{
  position: absolute;
  display: inline-block;
  margin-bottom:  18px;
  margin-left: 620px;
  color: blue;
  outline: 1px solid white;
  font-size: 1.6em;
  text-decoration: none;
  list-style: none;
}
a{
  text-decoration: none;
  list-style :none;
}
section{
  padding-top: 280px;
  width: 100%;
  height: 600px;
  max-width: 100%;
  text-align: lef;
  margin-top: 6.5%;
    background-image:url(../assets/img/imag.jpg);
    opacity: 0.80;
    color: blue;
    font-size: 1.6em;
    font-weight: 400;
  position: relative;
  background-size:100% 100%;
  background-repeat: no-repeat;
}
section-2 {
  display: inline-block;
  position: absolute;
width: 30%;
  top: 21%;
  margin-left: 10%;
  background-color: white;
  outline ; 1px solid red;
  color: blue;
  font-size: 1.6em;
  padding-left: 2%;
}
.imput form {
position: absolute;
left:  650px;
top: 17px;

  outline ; 1px solid purple;
  border-style: outset;
}

.medium-textarea textarea {
   height: 6em;
   width: 400px;
}
button{
  position: absolute;
  width: 90px;
  height: 50px;
  margin: auto;
  background: transparent;
  border-radius: 25%;
  color:blue;
bottom: 20px;
margin-left: 40px;

}
hr {
  width: 100%;
  position: absolute;
  bottom: 30%;
border-color: blue;
/*outline: 1px solid red;*/
}
.characters{
  position: absolute;
  top: 70%;
left: 87%;
outline: 1px solid red;
}
